// -*- mode: C++; tab-width: 4; indent-tabs-mode: nil -*- (for GNU Emacs)
//
// Copyright (c) Microsoft Corporation
//
// This file is part of the Microsoft Research Mesh Connectivity Layer.
// You should have received a copy of the Microsoft Research Shared Source
// license agreement (MSR-SSLA) for this software; see the file "license.txt".
// If not, please see http://research.microsoft.com/mesh/license.htm,
// or write to Microsoft Research, One Microsoft Way, Redmond, WA 98052-6399.
//

#include <winver.h>

1 VERSIONINFO
FILEVERSION BUILDMAJORVER,BUILDMINORVER,BUILDNUM,BUILDREV
PRODUCTVERSION BUILDMAJORVER,BUILDMINORVER,BUILDNUM,BUILDREV
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#if DBG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS_NT
FILETYPE VFT_DLL
{
    BLOCK "StringFileInfo" {
        BLOCK "040904B0" {
            VALUE "CompanyName", "Microsoft Research"
            VALUE "FileDescription", "Link-Quality Source Routing (LQSR) Parser"
            VALUE "FileVersion", BUILDSTR
            VALUE "InternalName", "lqsr"
            VALUE "LegalCopyright", "(c) Microsoft Corporation. All rights reserved."
            VALUE "OriginalFilename", "lqsr.dll"
            VALUE "ProductName", "MCL Binary Release"
            VALUE "ProductVersion", BUILDSTR
        }
    }
}
